* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-image: url(bg-contact.webp); /* Можно добавить фон */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}



.contact-section {
    text-align: center;
    padding: 50px;
   
}

.contact-info {
    margin-bottom: 30px;

}

.contact-info h2 {
    font-size: 24px;
    color: #34495e;
}

.contact-info p {
    font-size: 15px;
    color: #333;
    
}

.contact-form {
    background-color: white; /* Белый фон для формы */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 500px;
    margin: 0 auto; /* Центрирование формы */
}

.contact-form h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 8px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-form button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

.contact-form button:hover {
    background-color: #555;
}


